.nav {
  border-right: 2px solid black;
  width: 100%;
  height: 100%;
  background-color: #f1eeee;
  padding: 10px;

  label {
    text-decoration: underline;
  }

  input {
    width: 100%;
    // height: 50px;
    font-size: 20px;
    margin: 10px 0;
  }
}
